/* 
=================================================================
=========================LAYOUT==================================
=================================================================
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#mainpage {
  min-height: 100vh;
  
}

.footer p {
  background-color: #EBEBEB;
}



h1 {
   padding-top: 100px;
    text-align: center;

}


nav {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  background-color: #6D8DDC;
  padding-bottom: 20px;
}

nav a {
color: white;
text-decoration: none;
margin-right: 20px;
}

nav a:visited {
color: white;
}

#nav-left {
padding-left: 30px;
}

#nav-right {
padding-right: 30px;
}

#nav-right a {
  margin-right: 10px;
}

/* 
=================================================================
=========================HOME==================================
=================================================================
 */
#wrapper-home {
  background-color: rgba(93,128,216,0.6);
  min-height: 100vh;
}


  #wrapper-home h1 {
    margin-bottom: 50px;
    padding-top: 300px;
    color: white;
   
   
}

 #wrapper-home p {
  text-align: center;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
 }

 .home-btn{
  align-items: center;
  display: flex;
  justify-content: center;
 }

 #wrapper-home a {
font-size: 15px;
  margin-right: 20px;
  border: 1px solid rgba(93,128,216,0.6);
  background-color: rgba(93,128,216,0.6);
  padding: 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
 }

 #wrapper-home a:visited {
  color: white;
 }



/* 
=================================================================
=========================FORM==================================
=================================================================
 */

 #wrapper-login {
  background-color:rgba(93,128,216,0.6); 
  min-height: 100vh;
 }

 #wrapper-login h1 {
  color: white;
 }

 #wrapper-register h1 {
  color: white;
 }


 #wrapper-register {
  background-color:rgba(93,128,216,0.6); 
  min-height: 100vh;
 }





.form  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    margin-top: 80px;
}

form {
    background:rgba(0,0,0,0.13);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
}

label{
    display: inline-block;
    width: 250px;
    text-align: left;
}

input {
  margin: 3px;
}

#submit {
  border-radius: 20px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color:rgba(93,128,216,0.6);
}

.submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
=================================================================
=========================CATEGORIES==================================
=================================================================
 */

#wrapper-category {
  background-color: #EBEBEB;
  min-height: 100vh;
}
 #wrapper-category h1 {
  padding-bottom: 50px;
  color: black;
  font-weight: 300;

 }

 #wrapper-category a {
  color: black;
  text-decoration: none;

 }

 #wrapper-category a:visited {
  color: black;
 }

 #wrapper-category a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 20px;
 }

 #forum a:hover {
  text-decoration: underline;
 }

 /* 
=================================================================
=========================LIST TOPIC==================================
=================================================================
 */
#wrapper-topic {
  min-height: 100vh;
  background-color: #EBEBEB;
}

 #wrapper-topic h1 {
  margin-bottom: 20px;
  color: black;
 }

 .topic-name a {
  color: black;
  text-decoration: none;
  font-size: 20px;
 
 
 }

 .topic-name {
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .topic-name a:visited {
  color: black;

 }


.topic-form label {
  align-items: center;
}

 .topic-form {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;


 }

 .topics {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 }


 .topic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;


 }

 .delete-btn {
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-align: center;
 

 }

 .delete-btn a {
  color: white;
  text-decoration: none;

 }

 .lock-btn a {
  color: white;
  text-decoration: none;

 }

 .lock-btn {
  background-color: rgb(93,128,216);
 padding: 10px;
  margin-left: 30px;
  color: white;
  border-radius: 20px;
  text-align: center;

 }

 .topic-btn {
  display: flex;
  flex-direction: row;
 }

 .topic-form textarea {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

 .topic-form input {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}
 



 /* 
=================================================================
=========================LIST POST==================================
=================================================================
 */

#wrapper-post {
  min-height: 100vh;

  background-color: #EBEBEB;
}

.post-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  width: 50%;

 }

 .post-content a {
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
 }

 .post-content p {
 padding-top: 20px;

 }

 .posts {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

 }

 #wrapper-post form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;


 }

 #wrapper-post form textarea {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

#wrapper-post form input {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

#wrapper-post form {
  width: 70%;

}

.form-post {
  display: flex;
  align-items: center;
  justify-content: center;
}
 

 /* 
=================================================================
=========================LIST USERS==================================
=================================================================
 */

 #wrapper-users {
  background-color: #EBEBEB;
  min-height: 100vh;
 }

 #wrapper-users a {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;

 }

 #wrapper-users h1 {
  padding-bottom: 30px;
 }

 .user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  width: 50%;

 }

 .users {
  display: flex;
  justify-content: center;

 }


  /* 
=================================================================
=========================PROFILE==================================
=================================================================
 */

 #wrapper-profile {
  background-color: #EBEBEB;
  min-height: 100vh;
  
 }

 #wrapper-profile a {
  text-decoration: none;
 }


 .infos-profile {
  justify-content: center;
  text-align: center;
 }

.infos-profile {
  font-size: 25px;
  padding-bottom: 10px;
 }

 .topic-profile {
  margin-top: 30px;
  justify-content: center;
  text-align: center;

 }

 .topic-profile a {
  color: black;
 }

 .topic-profile li {
  font-size: 25px;
 }

 .delete-profile {
justify-content: center;
display: flex;
align-items: center;
padding-top: 50px;
 }

.delete-profile a {
  color: white;
  background-color: red;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
 }





/* 
=================================================================
=========================RESPONSIVE==================================
=================================================================
 */
@media screen and (max-width: 768px) { 



 nav {
  display: flex;
  padding-left: auto;

 }

 #nav-right {
  padding: 0;
 }

 #nav-left {
  padding-left: 5px;

 }

 nav a {
  font-size: 14px;
 }

 form  {
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .topic {
  width: 300px
 }
 
 #wrapper-topic form {
  max-width: 100vh;
  width: 300px;
 }

 #wrapper-topic textarea {
  width: 90%;
 }

 .lock-btn {
 width: 50%;
 }

 .delete-btn {

  width: 50%;
 }

 .delete-btn a {
  font-size: 15px;
 }

 .lock-btn a {
  font-size: 15px;
  }

  .post-content {
    align-items: center;
    text-align: center;
    width: 80%;
  }

  #wrapper-post form {
    width: 80%;

  }

  #wrapper-post textarea {
    width: 100%;
  }

  .form-post {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .user p {
    justify-content: center;
    text-align: center;
  }


}