* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;

}

a:visited {
  color: #fff;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
}


nav {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;

}

#nav-left {
  padding-left: 30px;
}

#nav-right {
  padding-right: 30px;
}


#nav-right a {
    margin-right: 10px;
}
/*form*/

#mainpage {
   min-height: 100vh;
   background-color:rgba(93,128,216,0.6);
    
}

.form  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    margin-top: 80px;

}

form {
    background:rgba(0,0,0,0.13);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;

}

label{
    display: inline-block;
    width: 250px;
    text-align: left;
}

input {
  margin: 3px;
}

#submit {
  border-radius: 20px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color:rgba(93,128,216,0.6);

 

}

.submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) { 
 nav {
  display: flex;

 }

#nav-left {
  padding-right: 10px;
}
}