* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
}

p {
    background-color:rgba(93,128,216,0.6);
}

nav {
    display: flex;
    padding-top: 20px;

}

#nav-right {
   
  justify-content: end;

}

#nav-left {
 
align-items: start;
  justify-content: start;

}

#nav-right a {
    margin-right: 10px;
}
/*form*/

#mainpage {
   min-height: 100vh;
   background-color:rgba(93,128,216,0.6);
    
}

.form  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    margin-top: 80px;

}

form {
    background:rgba(0,0,0,0.13);
    padding-left: 20px;
    padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
   
   
}

label{
    display: inline-block;
    float: left;
    width: 250px;
    text-align: left;
}

input {
  margin: 3px;
}